:root {
  font-size: 14px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: #a7a7a7;
  font-family: "Lato", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #3f3f3f;
  height: 400px;
  width: 300px;
  border-radius: 5px;
}

.display {
  display: block;
  text-align: center;
  line-height: 80px;
  height: 80px;
  color: white;
  background-color: black;
  border-radius: 5px 5px 0px 0px;
}

.panel {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 1.5em auto;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 60px);
  grid-template-rows: repeat(3, 60px);
  gap: 15px;
  justify-content: center;
  align-items: stretch;
}

.drum-pad {
  margin: auto;
  width: 250px;
}

.pad {
  padding: 0;
  margin: 0;
  display: block;
  color: white;
  font-size: 1.5rem;
  background-color: black;
  height: 100%;
  width: 100%;
  border-style: none;
  border-radius: .5rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: green;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked+.slider {
  background-color: red;
}

input:checked+.sound {
  background-color: green;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}